node_modules/
package-lock.json
logfile.log
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/vidly-api/index.html
coverage/lcov-report/vidly-api/index.js.html
coverage/lcov-report/vidly-api/middleware/admin.js.html
coverage/lcov-report/vidly-api/middleware/auth.js.html
coverage/lcov-report/vidly-api/middleware/error.js.html
coverage/lcov-report/vidly-api/middleware/index.html
coverage/lcov-report/vidly-api/middleware/validateObjectId.js.html
coverage/lcov-report/vidly-api/models/customer.js.html
coverage/lcov-report/vidly-api/models/genre.js.html
coverage/lcov-report/vidly-api/models/index.html
coverage/lcov-report/vidly-api/models/movie.js.html
coverage/lcov-report/vidly-api/models/rental.js.html
coverage/lcov-report/vidly-api/models/user.js.html
coverage/lcov-report/vidly-api/routes/auth.js.html
coverage/lcov-report/vidly-api/routes/customers.js.html
coverage/lcov-report/vidly-api/routes/genres.js.html
coverage/lcov-report/vidly-api/routes/index.html
coverage/lcov-report/vidly-api/routes/movies.js.html
coverage/lcov-report/vidly-api/routes/rentals.js.html
coverage/lcov-report/vidly-api/routes/users.js.html
coverage/lcov-report/vidly-api/startup/config.js.html
coverage/lcov-report/vidly-api/startup/db.js.html
coverage/lcov-report/vidly-api/startup/index.html
coverage/lcov-report/vidly-api/startup/logging.js.html
coverage/lcov-report/vidly-api/startup/routes.js.html
coverage/lcov-report/vidly-api/startup/validation.js.html
logfile.log
